<section id="objectif">
	<h2>Développeur Web</h2>
	<ul>
		<li>HTML/CSS</li>
		<li>JavaScript - JQuery</li>
		<li>PHP &amp; SQL</li>
	</ul>
</section>

<section id="contactinfo">
	<h3>Mehdi BOUZIANE-CHERIF</h3>
	<ul>
		<li>293 rue Roger Salengro</li>
		<li>34130 MAUGUIO</li>
		<li>06.99.76.90.86</li>
		<li>mehdibc34@gmail.com</li>
	</ul>
</section>

<section id="competences">
	<h3>Compétences</h3>
	<ul>
		<li>Intégration</li>
		<li>Programmation Orienté Objet</li>
		<li>Gestion d'un projet</li>
		<li>Respect d'un cahier des charges</li>
	</ul>
</section>

<section id="qualites">
	<h3>Qualités</h3>
	<p>Méthodique et tenace.</p>
</section>

<section id="exp">
	<h3>Expérience professionnelle</h3>
	<ul>
		<li>Développeur Web (Stage 2 semaines) à Neworldwebsites</li>
		<li>Technicien de maintenance (Stage 2 semaines) à NOUAS</li>
	</ul>
</section>

<section id="formations">
	<h3>Formations</h3>
	<ul>
		<li>2017 : PRQ Développeur Web - Objectif3W MONTFERRIER</li>
		<li>2017 : CAP Métier Informatique - NOUAS MONTPELLIER</li>
		<li>2016 : CAP Avenir - Form'Impact PEROLS</li>
		<li>2012 : BAC S - Lycée Champollion LATTES</li>
	</ul>
</section>

<section id="hobbies">
	<h3>Centres d'intérets</h3>
	<ul>
		<li>Passionné de jeux vidéos, multiples platformes.</li>
		<li>Amateur de culture japonaise, particulièrement nourriture, jeux et mangas.</li>
		<li>Apprécie la cuisine sortant un peu de l'ordinaire.</li>
		<li>Affectionne facilement la littérature fantastique.</li>
	</ul>
</section>

